.login__wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #5fd0ef;
}
.login {
  width: 25rem;
  background-color: rgb(0 106 144 / 82%);
  padding: 3.25rem;
  text-align: center;
  border-radius: 4.25rem;
}
.login img {
  width: 10.25rem;
}

.login h2 {
  margin: 1.25rem 0rem;
}

.login button {
  background-color: #3fc350;
  color: #fff;
  border: 0rem;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  font-size: larger;
  margin-top: 0.625rem;
}
